/* CSS Reset */
body, header, nav, main, footer, h1, div, img {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Body Styles */
body {
    background-color: #000;
}

img {
    max-width: 100%;
    display: block;
}

/* Header Styles */
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 190px
}

header img {
    margin 0 auto;
    max-width: 50%;
}

/* Nav Menu Styles */
nav {
    padding: 1%;
    margin-bottom: 1%;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    font-size: 1.15em;
    font-family: Verdana, Arial, sans-serif;
    border-top: 1px solid #fff;
}

nav li:first-child {
    border-top: none;
}

nav li a {
    display: block;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
}

#hero-img {
    max-width: 100%;
}

/* Main Styles */
main {
    background-color: #808080;
    padding: 2%;
    font-size: 1.15em;
}

.childreview {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1.25em 1.25gem;
}

.childreview img {
    width: 10%;
    padding: 1em;
}

/* Footer Styles */
footer p {
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
}

footer p a {
    color: #fff;
    text-decoration: none;
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px) {

	/* Desktop Viewport: Style rule for header */
	header {
		width: 25%;
		float: left;
		padding-bottom: 0;
	}

	/* Desktop Viewport: Style rules for nav area */
	nav {
	    display: inline-block;
		float: right;
		width: 70%;
		margin: 4em 1em 0 0;
	}

	nav ul {
		text-align: right;
		list-style-type: none;
	}

	nav li {
		border: none;
	}

	nav li a {
	    display: block;
		padding: 0.5em 1em;
	}

	nav li a:hover {
		color: #000;
		background-color: #fff;
	}

    #hero {
        clear: left;
    }

    #hero-img {
        clear: left;
    }
	/* Desktop Viewport: Style rules for main content */
	main {
		clear: left;
	}

	main h1 {
		font-size: 1.8em;
	}
}

