<!DOCTYPE html>
<html lang="en">
<head>
    <title>PC Parts Picker Tool</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Francois+One|Roboto+Slab&display=swap" rel="stylesheet">
</head>
<body>

<!--    <?php-->
<!--        // If user is not logged in, return to registration page...-->
<!--        //Testing new branch-->

<!--        session_start();-->
<!--        if(!isset($_SESSION['username'])) {-->
<!--            echo "You are not logged in, please return to registration page";-->

<!--            echo '<p> <a href="../login/login.html">Return to Login</a> </p>';-->
<!--        }-->
<!--    ?>-->

    <div id="container">

        <header>
			<a href="index.html"><img src="../resources/companylogo.png" alt="PC Parts Logo"></a>
        </header>

        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="addrecordsform.html">PC Part Tool</a></li>
                <li><a href="userreviews.html">Leave a Review!</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="createaccount.html">Create New Account</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </nav>

        <main>

            <div class="table">
				<div class="survey-form" id="survey-form">
					<h1>BCS 430W PC Part Picker User Survey</h1>
					<h2> Please fill out the Survey below: </h2>
					<form id="myForm" method="POST" action="addrecords.php">

						<div id="question1">
							<fieldset>
								<label for="dropdown"><h4>What is your Spending Budget to buy a computer?</h4></label>
								<label>
									<p><input type="radio" name="q1" value="300">My budget is $300, or less</p>
								</label>

								<label>
									<p><input type="radio" name="q1" value="500">My budget is $500, or less</p>
								</label>
								
								<label>
									<p><input type="radio" name="q1" value="1000">My budget is $1000, or less</p>
								</label>
								
								<label>
									<p><input type="radio" name="q1" value="1500">My budget is $1500, or less</p>
								</label>
								
								<label>
									<p><input type="radio" name="q1" value="NoBudget">I don't have a limit on my budget</p>
								</label>
							</fieldset>
						</div>

						<div id="question2">
							<fieldset>
								<label for="dropdown"><h4>Do you need a desktop PC or a laptop?</h4></label>
								<p>Desktop PCs offer superior performance, upgrade ability, and cost-efficiency compared to laptops</p>

								<p>Laptops provide portability, space-saving design, built-in battery, and wireless connectivity for convenient on-the-go computing</p>

								<label>
									<p><input type="radio" name="q2" value="DesktopPC">Desktop PC</p>
								</label>

								<label>
									<p><input type="radio" name="q2" value="Laptop">Laptop</p>
								</label>
							</fieldset>
						</div>

						<div id="question3">
							<fieldset>
								<label for="dropdown"><h4>Which screen size below best suits your needs</h4></label>
								
								<label>
									<p><input type="radio" name="q3" value="300$">Small Screen Laptops (11-13 inches): </p>
								</label>

								<label>
									<p><input type="radio" name="q3" value="500$">Standard Screen Laptops (14-16 inches): </p>
								</label>

								<label>
									<p><input type="radio" name="q3" value="1000$">Large Screen Laptops (17 inches and above): </p>
								</label>
							</fieldset>
						</div>

						<div id="question4">
							<fieldset>
								<label for="dropdown"><h4>What will the Laptop be primarily used for?</h4></label>

								<label>
									<p><input type="radio" name="q4" value="MultiPurpose">Multipurpose: A multipurpose computer is used for a wide range of tasks,
										including work, entertainment, education, gaming, communication, and general computing needs, providing versatility for various user requirements.</p>
								</label>

								<label>
									<p><input type="radio" name="q4" value="GamingPC">Gaming: A multipurpose computer is used for a wide range of tasks, including work, entertainment, education, gaming, communication,
										and general computing needs, providing versatility for various user requirements.</p>
								</label>

								<label>
									<p><input type="radio" name="q4" value="SchoolComputer">School Computer: A school computer is used for various educational tasks, such as research, assignments,
										accessing learning resources, and conducting school-related activities.</p>
								</label>

								<label>
									<p><input type="radio" name="q4" value="WorkComputer">Work Computer: A work computer is used for professional tasks, including office work, communication,
										data analysis, and software applications relevant to the job </p>
								</label>

								<label>
									<p><input type="radio" name="q4" value="Chromebook">Chromebook: A Chromebook computer is primarily used for web-based tasks such as browsing the internet,
										using web apps, and basic productivity functions. </p>
								</label>
							</fieldset>
						</div>

						<div id="question5">
							<fieldset>
								<label for="dropdown"><h4>Please select a case size from the options below</h4></label>

								<label>
									<p><input type="radio" name="q5" value="300$">Full Tower Desktop Case</p>
									<p>Full-tower cases are spacious, offering ample room for high-end components, extensive cooling solutions,
										and multiple storage drives, making them ideal for enthusiasts and gamers who require maximum performance and customization options</p>
								</label>

								<label>
									<p><input type="radio" name="q5" value="500$">Mid-Tower Desktop Case</p>

									<p>Mid-tower cases strike a balance between size and functionality, providing sufficient space for most gaming and productivity builds,
										accommodating standard components, and offering good airflow and cable management. </p>
								</label>

								<label>
									<p><input type="radio" name="q5" value="1000$">Mini Desktop PC Case</p>

									<p>Mini-ITX cases are compact and space-saving, suitable for small form factor builds,
										making them a great choice for minimalist setups. </p>
								</label>

							</fieldset>
						</div>

						<div id="question6">
							<fieldset>
								<label for="dropdown"><h4>What will the Desktop Computer be primarily used for?</h4></label>

								<label>
									<p><input type="radio" name="q6" value="MultiPurpose">Multipurpose: A multipurpose computer is used for a wide range of tasks,
										including work, entertainment, education, gaming, communication, and general computing needs, providing versatility for various user requirements.</p>
								</label>

								<label>
									<p><input type="radio" name="q6" value="GamingPC">Gaming : A multipurpose computer is used for a wide range of tasks, including work, entertainment, education, gaming, communication,
										and general computing needs, providing versatility for various user requirements.</p>
								</label>

								<label>
									<p><input type="radio" name="q6" value="SchoolComputer">School Computer: A school computer is used for various educational tasks, such as research, assignments,
										accessing learning resources, and conducting school-related activities.</p>
								</label>

								<label>
									<p><input type="radio" name="q6" value="WorkComputer">Work Computer:A work computer is used for professional tasks, including office work, communication,
										data analysis, and software applications relevant to the job </p>
								</label>

							</fieldset>
						</div>

						<div id="question7">
							<fieldset>
								<label for="dropdown"><h4>Select the category of the gaming computer that best describes what you're looking for</h4></label>

								<label>
									<p><input type="radio" name="q7" value="300$">Entry-Level Gaming Computer:
										Entry-level gaming computers offer decent gaming performance at an affordable price point,
										suitable for casual gamers or those with budget constraints.</p>
								</label>

								<label>
									<p><input type="radio" name="q7" value="500$">Mid-Range Gaming Computer:
										Mid-range gaming computers provide a balanced blend of performance and cost,
										delivering good graphics and speed for most gaming needs without breaking the bank.</p>
								</label>

								<label>
									<p><input type="radio" name="q7" value="1000$">High-End Gaming Computer:
										High-end gaming computers are top-tier machines designed for demanding gamers, offering the best graphics, processing power,
										and features for immersive and competitive gaming experiences, often at a premium price.</p>

								</label>
							</fieldset>
						</div>

						<script>
							const form = document.getElementById('myForm');
							const myDiv1 = document.getElementById('question3');
							const myDiv2 = document.getElementById('question4');
							const myDiv3 = document.getElementById('question5');
							const myDiv4 = document.getElementById('question6');
							const myDiv5 = document.getElementById('question7');

							// Add an event listener to the form
							form.addEventListener('change', function() {
							// Get the selected value
							const selectedValue = document.querySelector('input[name="q2"]:checked').value;

							// Check the selected value and hide/show the div accordingly
							if (selectedValue === 'Laptop') {
								myDiv1.style.display = 'block';
								myDiv2.style.display = 'block';
								myDiv3.style.display = 'none';
								myDiv4.style.display = 'none';
								myDiv5.style.display = 'none';
								
								form.addEventListener('change', function() {
									// Get the selected value
									const selectedValue = document.querySelector('input[name="q4"]:checked').value;

									// Check the selected value and hide/show the div accordingly
									if (selectedValue === 'GamingPC') {
										myDiv5.style.display = 'block';
									}
									
									else {
										myDiv5.style.display = 'none';
									}
								});
								
							} else if (selectedValue === 'DesktopPC') {
								myDiv3.style.display = 'block';
								myDiv4.style.display = 'block';
								myDiv1.style.display = 'none';
								myDiv2.style.display = 'none';
								myDiv5.style.display = 'none';
								
								form.addEventListener('change', function() {
									// Get the selected value
									const selectedValue = document.querySelector('input[name="q6"]:checked').value;

									// Check the selected value and hide/show the div accordingly
									if (selectedValue === 'GamingPC') {
										myDiv5.style.display = 'block';
									}
									
									else {
										myDiv5.style.display = 'none';
									}
								});
								
							}
							});
							
							// Add an event listener to the form
							
						</script>

						<div class="submit-button">
							<input type="submit" value="Submit Record">
						</div>
					</form>
				</div>
            </div>

        </main>

        <footer>
            <p>&copy; Copyright 2021. All Rights Reserved.</p>
            <p><a href="mailto:pcparts@picker.com">PCparts@picker.com</a><p>
        </footer>

    </div>

</body>
</html>