<!DOCTYPE html>
<html lang="en">
<head>
    <title>SelectSpec</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Francois+One|Roboto+Slab&display=swap" rel="stylesheet">
</head>
<body>

    <div id="container">

        <header>
            <a href="index.html"><img src="../resources/companylogo.png" alt="PC Parts Logo"></a>
        </header>

        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="addrecordsform.html">PC Part Tool</a></li>
                <li><a href="userreviews.html">Leave a Review!</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="createaccount.html">Create New Account</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </nav>

        <div id="hero-img" class="tablet-desktop">
            <img src="../resources/heroimg.jpg" alt="Hero Image for Home Page">
        </div>


        <main>
            <div id="reviewscontainer" class="reviews">
				<!-- Script will fill in -->
            </div>
        </main>

        <footer>
            <p>&copy; Copyright 2021. All Rights Reserved.</p>
            <p><a href="mailto:pcparts@picker.com">PCparts@picker.com</a><p>
        </footer>

    </div>
	
	<script>
        // Function to display reviews on the homepage
        function displayReviews(reviews) {
            const reviewsContainer = document.getElementById("reviewscontainer");

            // Generate HTML for each review and append it to the container
            reviews.forEach(review => {
                const reviewHTML = `
					
					<div class="childreview">
                    <img src="../resources/reviewimg.png" alt="Review Image"> <p>${review.comments}</p>
					</div>
                `;
                reviewsContainer.innerHTML += reviewHTML;
            });
        }

        // Fetch reviews from the server using AJAX
        const xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (this.readyState === 4 && this.status === 200) {
                const reviews = JSON.parse(this.responseText);
                displayReviews(reviews);
            }
        };
        // Adjust the path to match the location of your PHP script
        xhr.open("GET", "getreviews.php", true);
        xhr.send();
    </script>

</body>
</html>