<!DOCTYPE html>
<html lang="en">
<head>
    <title>PC Parts Picker Tool</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Francois+One|Roboto+Slab&display=swap" rel="stylesheet">
</head>
<body>

    <div id="container">

        <header>
            <a href="index.html"><img src="../resources/companylogo.png" alt="PC Parts Logo"></a>
        </header>

        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="addrecordsform.html">PC Part Tool</a></li>
                <li><a href="">Leave a Review!</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Create New Account</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </nav>

        <div id="hero-img" class="tablet-desktop">
            <img src="../resources/heroimg.jpg" alt="Hero Image for Home Page">
        </div>


        <main>
            <div class="reviews">
                <div class="childreview">
                    <img src="../resources/reviewimg.png" alt="Review Image"> <p>Insert Reviews Here</p>
                </div>

                <div class="childreview">
                    <img src="../resources/reviewimg.png" alt="Review Image"> <p>Insert Reviews Here</p>
                </div>
            </div>
        </main>

        <footer>
            <p>&copy; Copyright 2021. All Rights Reserved.</p>
            <p><a href="mailto:pcparts@picker.com">PCparts@picker.com</a><p>
        </footer>

    </div>

</body>
</html>