/* CSS Reset */
body, header, nav, main, footer, h1, div, img {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Body Styles */
body {
    background-color: #000;
}

img {
    max-width: 100%;
    display: block;
}

/* Header Styles */
header {
    width: 25%;
    float: left;
}

header img {
    max-width: 50%;
}

/* Nav Menu Styles */
nav {
    width: 70%;
    float: right;
    margin: 5em 3em 0 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: right;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

#hero {
    clear: left;
}

/* Main Styles */
main {
    clear: left;
    padding: 3%;
    font-size: 1.25em;
}

.table {
    text-align: center;
    font-color: #fff;
    background-image: url("../bgimg.gif");
    background-size: 100% 100%;
}

.table h1, h2, h4, p {
    color: #fff;
}

/* Footer Styles */
footer p {
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
}

footer p a {
    color: #fff;
    text-decoration: none;
}

/* Hide questionnaire questions */
#question3, #question4, #question5, #question6, #question7 {
    display: none;
}